.message
  .left-message
    -if message.user.teacher == 1
      .left-message__top
        .left-message__top--icon
        .left-message__top--box
          .left-message__top--box--name
            = message.user.name
          .left-message__top--box--time
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .left-message__bottom
        %p.left-message__bottom--says
          =message.content
          
      = image_tag message.image.url, class: 'left-message__image' if message.image.present?
  .right-message
    - if message.user.teacher == 2
      %p.right-message__content
        = message.content
      = image_tag message.image.url, class: 'right-message__image' if message.image.present?
